<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DiddlePlan</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 calendar">
      <div class="tile" ng-repeat="day in calendar">
        <div class="tile-inner">
          <div class="tile-header">
            <span class="day">{{day | date:'EEEE'}}</span>
            <span class="date">{{day | date:'MMM d'}}</span>
          </div>

          <ul dnd-list="tasks"
            dnd-allowed-types="types"
            dnd-disable-if="false"
            ng-attr-id="{{day}}">

            <li ng-repeat="item in tasks | filterDate:day"
                dnd-draggable="item"
                dnd-type="item.taskType"
                dnd-disable-if="item.taskType == 'other'"
                dnd-moved="removeTask(item)"
                dnd-effect-allowed="move"
                class="background-{{item.taskType}}"
                >
                <div class="handle"><i class="fa" ng-class="[{'fa-cutlery': item.taskType === 'meal'}, {'fa-heartbeat': item.taskType === 'exercise'}, {'fa-sticky-note': item.taskType === 'todo'}, {'fa-shopping-cart': item.taskType === 'shopping'}]"></i></div>
                <div class="name" dnd-nodrag>
                    <input type="text" ng-model="item.name" class="background-{{item.taskType}} form-control input-sm">
                </div>
            </li>

            <li class="dndPlaceholder">
                Drop things here
            </li>

          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4 sidebar">
      <div class="tile">
        <div class="tile-inner">
          <div class="tile-header">
            <span>Todo</span>
            <span class="add-task" ng-click="addTask('todo')"><i class="fa fa-plus"></i></span>
          </div>

          <ul dnd-list="tasks"
            dnd-allowed-types="[types[0]]"
            dnd-disable-if="false">

            <li ng-repeat="todo in tasks | filter:isTodo"
                dnd-draggable="todo"
                dnd-type="todo.taskType"
                dnd-disable-if="todo.taskType == 'unknown'"
                dnd-moved="removeTask(todo)"
                dnd-effect-allowed="move"
                class="background-{{todo.taskType}}"
                >
                <div class="handle"><i class="fa fa-sticky-note"></i></div>
                <div class="name" dnd-nodrag>
                    <input type="text" ng-model="todo.name" class="background-{{todo.taskType}} form-control input-sm">
                </div>
            </li>

            <li class="dndPlaceholder">
                Drop todos here
            </li>

          </ul>
        </div>
      </div>

      <div class="tile">
        <div class="tile-inner">
          <div class="tile-header">
            <span>Exercise</span>
            <span class="add-task" ng-click="addTask('exercise')"><i class="fa fa-plus"></i></span>
          </div>

          <ul dnd-list="tasks"
            dnd-allowed-types="[types[1]]"
            dnd-disable-if="false">

            <li ng-repeat="exercise in tasks | filter:isExercise"
                dnd-draggable="exercise"
                dnd-type="exercise.taskType"
                dnd-disable-if="exercise.taskType == 'unknown'"
                dnd-moved="removeTask(exercise)"
                dnd-effect-allowed="move"
                class="background-{{exercise.taskType}}"
                >
                <div class="handle"><i class="fa fa-heartbeat"></i></i></div>
                <div class="name" dnd-nodrag>
                    <input type="text" ng-model="exercise.name" class="background-{{exercise.taskType}} form-control input-sm">
                </div>
            </li>

            <li class="dndPlaceholder">
                Drop exercises here
            </li>

          </ul>
        </div>
      </div>

      <div class="tile">
        <div class="tile-inner">
          <div class="tile-header">
            <span>Meals</span>
            <span class="add-task" ng-click="addTask('meal')"><i class="fa fa-plus"></i></span>
          </div>

          <ul dnd-list="tasks"
            dnd-allowed-types="[types[2]]"
            dnd-disable-if="false">

            <li ng-repeat="meal in tasks | filter:isMeal"
                dnd-draggable="meal"
                dnd-type="meal.taskType"
                dnd-disable-if="meal.taskType == 'unknown'"
                dnd-moved="removeTask(meal)"
                dnd-effect-allowed="move"
                class="background-{{meal.taskType}}"
                >
                <div class="handle"><i class="fa fa-cutlery"></i></div>
                <div class="name" dnd-nodrag>
                    <input type="text" ng-model="meal.name" class="background-{{meal.taskType}} form-control input-sm">
                </div>
            </li>

            <li class="dndPlaceholder">
                Drop meals here
            </li>

          </ul>
        </div>
      </div>

      <div class="tile">
        <div class="tile-inner">
          <div class="tile-header">
            <span>Shopping List</span>
            <span class="add-task" ng-click="addTask('meal')"><i class="fa fa-plus"></i></span>
          </div>

          <ul dnd-list="tasks"
            dnd-allowed-types="[types[2]]"
            dnd-disable-if="false">

            <li ng-repeat="meal in tasks | filter:isShopping"
                dnd-draggable="meal"
                dnd-type="meal.taskType"
                dnd-disable-if="tasks.taskType == 'unknown'"
                dnd-moved="removeTask(meal)"
                dnd-effect-allowed="move"
                class="background-{{meal.taskType}}"
                >
                <div class="handle"><i class="fa fa-shopping-cart"></i></div>
                <div class="name" dnd-nodrag>
                    <input type="text" ng-model="meal.name" class="background-{{meal.taskType}} form-control input-sm">
                </div>
            </li>

            <li class="dndPlaceholder">
                Drop shopping here
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
