<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <form action="" method='post'>
      <legend>User signin</legend>
      Username: <input type="text" name="username" placeholder='Enter Username'><br>
      Password: <input type="password" name="password" placeholder='Password'><br>
      <br>
      <input type="submit" value="Signin">
    </form>
  </body>
</html>
